* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #e0e6eb;
}


.main{
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  min-height: 100vh;
  background-color: #f0f0f5;;
  box-shadow: 0 0 100px rgba(0 , 0 , 0 , 0.1);
  border-radius: 8px;

}
.text2{
  margin-bottom: 20px;
}
input[type='file'] {
  display: none;
}
.labelInput {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}
